/*
 Nombre: Javier Valle
 Carnet: 20159 
*/

/*
Referencias:
1. Página para generar el color de fondo de la página: https://htmlcolorcodes.com/color-picker/
2. Página para generar el gradiente de color en la página: https://cssgradient.io
2. Página para ver los colores de los textos: https://www.cdmon.com/es/apps/tabla-colores
3. Posición del texto: https://developer.mozilla.org/es/docs/Web/CSS/position
4. Cargando imágenes con url: https://programmerclick.com/article/14641509009/
5. Propiedades del texto: https://cybmeta.com/cambiar-el-color-del-texto-seleccionado-con-css
*/

/*Estilo del cuerpo de la aplicación*/
body{
    background: linear-gradient(90deg, rgba(63,94,251,1) 7%, rgba(70,236,252,1) 94%); /*Gradiente para el color del fondo*/
    background-image: url('https://www.xtrafondos.com/wallpapers/nubes-rosas-de-monaco-1297.jpg'); /*Imagen de fondo para mejor interacción*/
}

/*Propiedades del título de la página*/
h1{
    /*Centrar el título*/
    text-align: center;
    color:gold; /*Color del texto*/
}

/*Propiedades del título h2*/
h2{
    /*Centrar el título*/
    text-align: center;
    color:gold; /*Color del texto*/
}

/*Dando una especificación*/
h3{
    /*Centrar el título*/
    text-align: center;
    color:gold; /*Color del texto*/
}

.Todo{
    position: relative; /*Posición absoluta*/
}

/*Propiedades del mapa*/
.Mapa{
    /*Posición absoluta para que se puedan manipular mejor los objetos*/
    position: relative;
    /*Display flex para mejor comodidad*/
    display: flex;
    justify-content: center;
}

/*Propiedades del jugador.*/
.Pared{
    width: 75px; /*Ancho de prueba*/
    height: 75px; /*Se ve limitado por el min-height del parent, el cual es el .Mapa*/ 
    background: white; /*Ancho*/
    /*margin: 2px; /*Margen*/
}

/*Propiedades de los espacios vacíos.*/
.Otro{
    width: 75px; /*Ancho*/
    height: 75px; /*Alto*/
    /*margin: 2px; /*Margen del cinco pixeles*/
}


/*Propiedades de la meta*/
.Meta{
    
    width: 75px; /*Ancho*/
    height: 75px; /*Alto*/
    /*background: red; /*Color*/
     /*margin: 2px; /*Ancho*/
}

/*Tamaños de la imagen de la Meta*/

.Metas{
    width: 75px; /*Ancho*/
    height: 75px; /*Alto*/
}

/*Propiedades de la pared*/
.Paredes{
    width: 75px; /*Ancho*/
    height: 75px; /*Alto*/
    /*margin: 1px;*/
}

/*Propiedades de las puertas*/
.Puertas{
    width: 75px;
    height: 75px;
}