/*
Referencias:
1. Página para generar el color de fondo de la página: https://htmlcolorcodes.com/color-picker/
2. Página para generar el gradiente de color en la página: https://cssgradient.io
2. Página para ver los colores de los textos: https://www.cdmon.com/es/apps/tabla-colores
3. Posición del texto: https://developer.mozilla.org/es/docs/Web/CSS/position
4. Cargando imágenes con url: https://programmerclick.com/article/14641509009/
5. Propiedades del texto: https://cybmeta.com/cambiar-el-color-del-texto-seleccionado-con-css
*/

/*Estilo del cuerpo de la aplicación*/
body{
    position: relative; /*Posición relativa para acomodar mejor todo lo de la página.*/
    background: linear-gradient(90deg, rgba(63,94,251,1) 7%, rgba(70,236,252,1) 94%); /*Gradiente para el color del fondo*/
}